<section class="books" id="books">
    <div class="container wow fadeIn animated">
        <div class="row">
            <h2 class="col-xs-12">{{ 'books'|trans }}</h2>
            <p class="col-xs-12 col-sm-8 col-sm-offset-2">{{ 'lorem'|trans|raw }}</p>
        </div>
    </div><!-- /container -->
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-3 wow fadeInUp animated">
                <a href="http://www.arkaitzgarro.com/xhtml/" target="_blank" title="XHTML">
                    <img src="{{ app.request.basepath }}/img/books/xhtml.png" alt="XHTML" class="center-block img-responsive">
                </a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 wow fadeInUp animated">
                <a href="http://www.arkaitzgarro.com/css2/" target="_blank" title="CSS 2.1">
                    <img src="{{ app.request.basepath }}/img/books/css2.png" alt="CSS 2.1" class="center-block img-responsive">
                </a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 wow fadeInUp animated">
                <a href="http://www.arkaitzgarro.com/css3/" target="_blank" title="CSS 3">
                    <img src="{{ app.request.basepath }}/img/books/css3.png" alt="CSS 3" class="center-block img-responsive">
                </a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 wow fadeInUp animated">
                <a href="http://www.arkaitzgarro.com/responsive-web-design/" target="_blank" title="Responsive Web Design">
                    <img src="{{ app.request.basepath }}/img/books/rwd.png" alt="Responsive Web Design" class="center-block img-responsive">
                </a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 wow fadeInUp animated">
                <a href="http://www.arkaitzgarro.com/javascript/" target="_blank" title="JavaScript">
                    <img src="{{ app.request.basepath }}/img/books/javascript.png" alt="JavaScript" class="center-block img-responsive">
                </a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 wow fadeInUp animated">
                <a href="http://www.arkaitzgarro.com/ajax/" target="_blank" title="AJAX">
                    <img src="{{ app.request.basepath }}/img/books/ajax.png" alt="AJAX" class="center-block img-responsive">
                </a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 wow fadeInUp animated">
                <a href="http://www.arkaitzgarro.com/jquery/" target="_blank" title="jQuery">
                    <img src="{{ app.request.basepath }}/img/books/jquery.png" alt="jQuery" class="center-block img-responsive">
                </a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 wow fadeInUp animated">
                <a href="http://www.arkaitzgarro.com/html5/" target="_blank" title="HTML 5">
                    <img src="{{ app.request.basepath }}/img/books/html5.png" alt="HTML 5" class="center-block img-responsive">
                </a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 wow fadeInUp animated">
                <a href="http://www.arkaitzgarro.com/java/" target="_blank" title="Java">
                    <img src="{{ app.request.basepath }}/img/books/java.png" alt="Java" class="center-block img-responsive">
                </a>
            </div>
        </div>
    </div>
</section>