<footer>
    <div class="row">
        <div class="col-xs-12">
            <ul class="social list-inline">
                <li><a href="{{ links.github }}" class="fa fa-github solo"><span>Github</span></a></li>
                <li><a href="{{ links.twitter }}" class="fa fa-twitter solo"><span>Twitter</span></a></li>
                <li><a href="{{ links.linkedin }}" class="fa fa-linkedin solo"><span>Linkedin</span></a></li>
                <li><a href="{{ links.instagram }}" class="fa fa-instagram solo"><span>Instagram</span></a></li>
            </ul>
        </div>
    </div>
    <p>&copy; Copyright 2014 {{ 'name'|trans }} - Designed with love by Themeberry</p>
</footer>