<section class="knowledge">
    <div class="container wow fadeIn animated">
        <h2>{{ 'knowledge'|trans }}</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam scelerisque faucibus risus non iaculis. Fusce a augue ante, pellentesque pretium erat. Fusce in turpis in velit tempor pretium. Integer a leo libero.</p>
    </div><!-- /container -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3 wow fadeInLeft animated animated animated" data-wow-delay="0.1s">
                <div class="iconbox">
                    <span class="symfony">Symfony</span>
                </div>
                <p class="icntitle">Symfony</p>
                <p class="icnp">{{ 'loren'|trans }}</p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 wow fadeInLeft animated animated animated" data-wow-delay="0.2s">
                <div class="iconbox">
                    <span class="javascript">JavaScript</span>
                </div>
                <p class="icntitle">JavaScript</p>
                <p class="icnp">{{ 'loren'|trans }}</p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 wow fadeInLeft animated animated animated" data-wow-delay="0.3s">
                <div class="iconbox">
                    <span class="html5">HTML 5</span>
                </div>
                <p class="icntitle">HTML 5</p>
                <p class="icnp">{{ 'loren'|trans }}</p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 wow fadeInLeft animated animated animated" data-wow-delay="0.4s">
                <div class="iconbox">
                    <span class="css3">CSS 3</span>
                </div>
                <p class="icntitle">CSS 3</p>
                <p class="icnp">{{ 'loren'|trans }}</p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 wow fadeInLeft animated animated animated" data-wow-delay="0.1s">
                <div class="iconbox">
                    <span class="angularjs">AngularJS</span>
                </div>
                <p class="icntitle">AngularJS</p>
                <p class="icnp">{{ 'loren'|trans }}</p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 wow fadeInLeft animated animated animated" data-wow-delay="0.2s">
                <div class="iconbox">
                    <span class="rwd">RWD</span>
                </div>
                <p class="icntitle">RWD</p>
                <p class="icnp">{{ 'loren'|trans }}</p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 wow fadeInLeft animated animated animated" data-wow-delay="0.3s">
                <div class="iconbox">
                    <span class="android">Android</span>
                </div>
                <p class="icntitle">Android</p>
                <p class="icnp">{{ 'loren'|trans }}</p>
            </div>
        </div>
    </div><!-- /row -->
    <!-- /container -->
</section>