<section class="portfolio" id="portfolio">
    <div class="container wow fadeIn animated">
        <h2>{{ 'portfolio'|trans }}</h2>
        <p>{{ 'lorem'|trans }}</p>
    </div><!-- /container -->
    <div class="container">
        <div class="row gallery">
            <div class="col-xs-12 col-sm-6 col-lg-4 project">
                <div class="thumbnail">
                    <img src="{{ app.request.basepath }}/img/portfolio/hoyhay.jpg" alt="Website Hoy Hay">
                    <div class="caption">
                        <h3 class="text-center uppercase">{{ 'hoyhay_title'|trans }}</h3>
                        <p class="small">Symfony2 + ERP | <a href="http://tga.cc/" target="_blank">TGA+Asociados</a></p>
                        <p>
                            <a href="http://www.hoyhay.es/" class="btn btn-default" role="button" target="_blank">{{ 'view_project'|trans }}</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4 project">
                <div class="thumbnail">
                    <img src="{{ app.request.basepath }}/img/portfolio/aialahernando.jpg" alt="Portfolio Aiala Hernando">
                    <div class="caption">
                        <h3 class="text-center uppercase">{{ 'aiala_title'|trans }}</h3>
                        <p class="small">Squarespace</p>
                        <p>
                            <a href="http://www.aialahernando.com/" class="btn btn-default" role="button" target="_blank">{{ 'view_project'|trans }}</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4 project">
                <div class="thumbnail">
                    <img src="{{ app.request.basepath }}/img/portfolio/boinas-elosegui.jpg" alt="Website Boinas Elosegui">
                    <div class="caption">
                        <h3 class="text-center uppercase">{{ 'elosegui_title'|trans }}</h3>
                        <p class="small">Symfony2 + Elcodi + ERP | <a href="http://tga.cc/" target="_blank">TGA+Asociados</a></p>
                        <p>
                            <a href="http://www.boinaselosegui.com/" class="btn btn-default" role="button" target="_blank">{{ 'view_project'|trans }}</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4 project">
                <div class="thumbnail">
                    <img src="{{ app.request.basepath }}/img/portfolio/firmafgmtech.jpg" alt="Website Firmafgm.tech">
                    <div class="caption">
                        <h3 class="text-center uppercase">{{ 'firma_title'|trans }}</h3>
                        <p class="small">Squarespace</p>
                        <p>
                            <a href="http://www.firmafgmtech.com/" class="btn btn-default" role="button" target="_blank">{{ 'view_project'|trans }}</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4 project">
                <div class="thumbnail">
                    <img src="{{ app.request.basepath }}/img/portfolio/perfumeriabenegas.jpg" alt="Website Perfumeria Benegas">
                    <div class="caption">
                        <h3 class="text-center uppercase">{{ 'benegas_title'|trans }}</h3>
                        <p class="small">Symfony2 + ERP | <a href="http://tga.cc/" target="_blank">TGA+Asociados</a></p>
                        <p>
                            <a href="http://www.perfumeriabenegas.com/" class="btn btn-default" role="button" target="_blank">{{ 'view_project'|trans }}</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4 project">
                <div class="thumbnail">
                    <img src="{{ app.request.basepath }}/img/portfolio/zelaia.jpg" alt="Website Sidrería Zelaia">
                    <div class="caption">
                        <h3 class="text-center uppercase">{{ 'zelaia_title'|trans }}</h3>
                        <p class="small">Symfony2 | <a href="http://tga.cc/" target="_blank">TGA+Asociados</a></p>
                        <p>
                            <a href="http://www.zelaia.com/" class="btn btn-default" role="button" target="_blank">{{ 'view_project'|trans }}</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4 project">
                <div class="thumbnail">
                    <img src="{{ app.request.basepath }}/img/portfolio/qhe.jpg" alt="Website Que Hacer En">
                    <div class="caption">
                        <h3 class="text-center uppercase">{{ 'qhe_title'|trans }}</h3>
                        <p class="small">Symfony2 | <a href="http://tga.cc/" target="_blank">TGA+Asociados</a></p>
                        <p>
                            <a href="http://www.quehacerensansebastian.es/" class="btn btn-default" role="button" target="_blank">{{ 'view_project'|trans }}</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4 project">
                <div class="thumbnail">
                    <img src="{{ app.request.basepath }}/img/portfolio/lacunza.jpg" alt="Website Lacunza">
                    <div class="caption">
                        <h3 class="text-center uppercase">{{ 'lacunza_title'|trans }}</h3>
                        <p class="small">Symfony2 | <a href="http://www.wegetit.eu/" target="_blank">WeGetIt</a></p>
                        <p>
                            <a href="http://www.lacunza.es/" class="btn btn-default" role="button" target="_blank">{{ 'view_project'|trans }}</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>